body {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 15%,
    rgba(252, 70, 107, 1) 71%
  );
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column; /* Las secciones estarán una debajo de la otra en moviles */
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.section1 {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

#tabla-juego {
  margin: 10px auto;
  border-spacing: 10px;
}

#tabla-juego td {
  padding: 10px;
}

.card {
  width: 7rem;
  height: 7rem;
  font-size: 2.5rem;
  background-color: #fff;
  color: black;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: transform 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.section2 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.estadisticas {
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: auto;
  padding: 20px;
}

img {
  width: 80%;
  height: auto;
}

h1 {
  font-size: 2rem;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: rgba(163, 163, 163, 0.45);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.modal-content h2 {
  font-size: 1.5rem;
}

.modal-content p {
  font-size: 1.2rem;
}

.modal-content button {
  font-size: 1.2rem;
}

.close {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Ajuste para pantallas en modo landscape */
@media (orientation: landscape) {
    main {
      flex-direction: row; /* Las secciones estarán una al lado de la otra */
      justify-content: space-evenly;
      max-width: 1300px;
    }
  
    .section1, .section2 {
      width: 45%;
    }
  }

/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
    width: 9vw;
    height: 9vw;
  }
  #tabla-juego td {
    padding: 0px;
  }

  main {
    width: 80%;
    margin-left: 8%;
  }

  .section1 {
    padding: 10px;
  }

  .section2 {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 14vw;
    height: 14vw;
  }

  #tabla-juego td {
    padding: 0px;
  }

  main {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .modal-content {
    width: 100%;
  }
  
  .modal-content h2 {
    font-size: 1rem;
  }
  
  .modal-content p {
    font-size: 0.8rem;
  }
  
  .modal-content button {
    font-size: 0.8rem;
  }
}
